<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Spam Detection</h1>
</head>
<body>
    <form action="post">
        <textarea name="message" rows="5" cols="80" placeholder="Enter the message"></textarea> <br>
        <button type="submit">Check</button>
    </form>
    <!-- jinja2 -->
    {% if message %}
    <h1>Message:{{message}}</h1>
    <h3>{{result}}</h3>
    {% endif %}
</body>
</html>